<template>
  <div class="home" v-cloak>
    <div class="main-wrapper">
      <person-card v-for="person in peoplePerPage" :key="person.url" :person="person"></person-card>
    </div>
    <div class="navigation">
      <button class="prev nav-item" @click="minusPage" :class="{disabled: currentPage === 1}">prev</button>
      <button class="pages nav-item" v-for="(i, idx) in showPeoplePerPage" :key="i + '_i'" @click="desiredPage(idx + 1)" :class="{'active' : currentPage === idx +1}">{{ idx + 1 }}</button>
      <button class="next nav-item" @click="plusPage" :class="{disabled: currentPage === showPeoplePerPage}">next</button>
    </div>

  </div>
</template>

<script>
import personCard from '@/components/person-card'
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  name: 'Home',
  components: {
    personCard,
  },
  created() {
    this.desiredPage(this.currentPage)
  },
  computed : {
    ...mapState('people', ['peoplePerPage', 'currentPage']),
    ...mapState('common', ['isLoading']),
    ...mapGetters('people', ['showPeoplePerPage']),
  },
  methods: {
    ...mapActions('people', ['getPeoplesCards', 'getPeoplesCards']),
    minusPage() {
      let page = this.currentPage
      this.getPeoplesCards(--page)
    },
    plusPage() {
      let page = this.currentPage
      this.getPeoplesCards(++page)
    },
    async desiredPage(page) {
      await this.getPeoplesCards(page)
    },
  }
}
</script>

<style lang="scss">
.home {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  min-height: calc(100vh - 128px);
  .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .navigation {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      cursor: pointer;
      border: 1px solid rgba(0,0,0, .3);
      padding: 8px;
      text-transform: uppercase;
      border-radius: 3px;
      min-width: 36px;
      transition: all .2s ease-in-out;
      &:hover, &.active {
        background-color: #17a2b8;
        color: white;
      }
      &:active, &:focus {
        outline: none;
      }
      &.disabled {
        opacity: .6;
        filter: grayscale(100%);
        cursor: not-allowed;
        &:hover {
          background-color: transparent;
          color: #000;
        }
      }
    }
  }
}
</style>
