<template>
  <div class="person-wrap" v-cloak>
    <button class="back-to-list" @click="back">back to list</button>
    <div class="person">
      <div class="person__name">{{ person.name }}</div>
      <div class="person__info">
        <div class="info">
          <div class="info__block" v-for="(item, idx) in personInfo" :key="idx + '_i'">
            <div class="title">{{ item[0] }}:</div>
            <div class="value">{{ item[1] }}</div>
          </div>
        </div>
        <div class="films">
          <div class="title">Films</div>
          <div class="films-list">
            <div class="film" v-for="(film, idx) in films" :key="idx + '_f'">{{ film }}<span class="tooltip">Hire me to get more info ;)</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Person',
  data() {
    return {
      films: [],
      personInfo: [],
    }
  },
  async created() {
    await this.setPersonInfo()
    await this.getFilms()
    this.setMainInfo()
  },
  computed : {
    ...mapState('common',['isLoading']),
    ...mapState('people', ['person']),
  },
  methods: {
    ...mapActions('people', ['setCurrentPerson']),
    ...mapActions('movies', ['getMoviesNames']),
    setMainInfo() {
      let tempObj = {}
      tempObj.birthYear = this.person.birth_year
      tempObj.gender = this.person.gender
      tempObj.height = this.person.height
      tempObj.mass = this.person.mass
      tempObj.hairColor = this.person.hair_color
      tempObj.skinColor = this.person.skin_color
      tempObj.eyeColor = this.person.eye_color
      this.personInfo = Object.entries(tempObj)
    },
    async setPersonInfo() {
      await this.setCurrentPerson(this.$route.params.id)
    },
    async getFilms() {
      const films = [...this.person.films]
      if(films.length > 0) {
        let temp = []
        films.forEach(f => {
          let arr = f.slice().split('/')
          temp.push(arr[arr.length - 2])
        })
        this.films = await this.getMoviesNames(Array.from(temp))
      }else {
        this.films = []
      }
    },
    back() {
      this.$router.push({ name: 'main' })
    },
  }
}

</script>

<style lang="scss">
.person-wrap {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  min-height: calc(100vh - 128px);
  .back-to-list {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 5px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background-color: #358c35;
    transition: filter .2s ease-in-out;
    z-index: 2;
    &:hover {
      filter: brightness(120%);
    }
    &:active, &:focus {
      outline: none;
    }
  }
  .person {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__name {
      font-size: 30px;
      width: 100%;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 10px;
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0, .5);
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      flex-wrap: wrap;
      .info, .films {
        width: 100%;
        max-width: 45%;
        min-width: 175px;
      }
      .info {
        border: 1px solid rgba(0,0,0, .5);
        background-color: #7fffff;
        border-radius: 10px;
        margin-bottom: 20px;
        &__block {
          display: flex;
          text-transform: capitalize;
          padding: 15px;
          color: #272f62;
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0, .5);
          }
          .title {
            min-width: 80px;
          }
          .value {
            font-weight: bold;
          }
        }
      }
      .films {
        .title {
          font-size: 24px;
          color: #272f62;
          margin-bottom: 15px;
        }
        .films-list {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          .film {
            padding: 5px;
            background-color: #157886;
            color: #fff;
            border-radius: 5px;
            margin: 0 5px 5px 0;
            position: relative;
            cursor: pointer;
            .tooltip {
              position: absolute;
              content: '';
              font-size: 12px;
              color: white;
              line-height: 1.1;
              border-radius: 5px;
              background-color: rgba(0,0,0,.7);
              padding: 2px;
              opacity: 0;
              width: 110px;
              bottom: 100%;
              right: 101%;
              transition: opacity .2s ease-in-out;
            }
            &:hover {
              .tooltip {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .person-wrap .person__info .info, .person-wrap .person__info .films {
    max-width: 100%;
  }

}
</style>
