<template>
<footer class="footer">
  <div class="info">Made by Dmitry Antonov</div>
</footer>
</template>

<script>
export default {
name: "Footer"
}
</script>

<style scoped lang="scss">
.footer {
  text-align: center;
  padding: 5px 0;
  background: #000;
  color: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}
</style>