<template>
  <router-link to="/" tag="header" class="header">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="">
    </div>
  </router-link>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped lang="scss">
.header {
  width: 100%;
  background: url("../assets/img/header-bg.jpg") center no-repeat;
  background-size: cover;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 100px;
    }
  }
}
</style>