<template>
  <div class="card" v-cloak>
    <div class="card__title" v-text="person.name"></div>
    <div class="card__body">
      <div class="info-block-wrap person-info">
        <div class="info-block-main" v-for="(info, idx) in mainPersonInfo" :key="idx + '_i'">
          <div class="title">{{ info[0] }}: <span class="value">{{ info[1] }}</span></div>
        </div>
      </div>
      <div class="info-block-wrap ships">
        <div class="title">Starships:</div>
        <div class="ships-names" :class="{'no-ships' : starShipsNames.length < 0}">
          <template v-if="starShipsNames.length > 0">
            <span class="ship-name" v-for="name in starShipsNames" :key="name + '_n'">{{name}}<span class="tooltip">Hire me to get more info ;)</span></span>
          </template>
          <span class="ship-name empty" v-else>No ships founded</span>
        </div>
      </div>
    </div>
    <div class="card__action">
      <button class="info-button" @click="goTo">Detailed person info</button>
    </div>
  </div>
</template>

<script>
import {mapActions,mapMutations} from 'vuex'

export default {
  name: "person-card",
  props: {
    person: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      starShipsNames: [],
      mainPersonInfo: [],
    }
  },
  created() {
    this.getShips()
    this.setMainInfo()
  },
  computed: {
    personId() {
      const url = this.person.url.slice().split('/')
      const id = url[url.length - 2]
      return Number(id)
    },
  },
  methods: {
    ...mapActions('starships', ['getStarshipsNames']),
    ...mapMutations('common', ['setLoading', 'endLoading']),
    setMainInfo() {
      let tempObj = {}
      tempObj.gender = this.person.gender
      tempObj.height = this.person.height
      tempObj.mass = this.person.mass
      this.mainPersonInfo = Object.entries(tempObj)
    },
    goTo() {
      this.$router.push({ name: 'person', params: { id: this.personId } })
    },
    async getShips() {
      const ships = [...this.person.starships]
      if(ships.length > 0) {
        let temp = []
        ships.forEach(s => {
          let arr = s.slice().split('/')
          temp.push(arr[arr.length - 2])
        })
        this.starShipsNames = await this.getStarshipsNames(temp)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.card {
  background-color: #d1ecf1;
  width: 100%;
  max-width: 45%;
  min-height: 255px;
  min-width: 300px;
  padding: 20px;
  margin: 0 10px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0, .2);
  &__title {
    color: #0c5460;
    font-size: 28px;
    text-align: left;
    margin-bottom: 10px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-bottom: 10px;
    .info-block-wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 45%;
      .title {
        text-transform: capitalize;
        font-size: 20px;
        color: #0c5460;
        margin-bottom: 5px;
      }
      .value {
        text-transform: capitalize;
        font-size: 18px;
        color: #165e7a;
      }
      .ships-names {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        .ship-name {
          padding: 3px;
          background-color: #2c7699;
          color: #ffffff;
          font-size: 16px;
          border-radius: 5px;
          margin-bottom: 3px;
          position: relative;
          &:not(.empty) {
            cursor: pointer;
          }
          .tooltip {
            position: absolute;
            content: '';
            font-size: 12px;
            color: white;
            line-height: 1.1;
            background-color: rgba(0,0,0,.3);
            border-radius: 5px;
            padding: 2px;
            opacity: 0;
            width: 110px;
            bottom: 100%;
            right: 101%;
            transition: opacity .2s ease-in-out;
          }
          &:not(:last-child) {
            margin-right: 3px;
          }
          &:hover {
            .tooltip {
              opacity: 1;
            }
          }
          &.empty {
            background-color: palevioletred;
          }
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #0c5460;
      opacity: .5;
    }
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .info-button {
      color: #fff;
      background-color: #17a2b8;
      padding: 4px 8px;
      font-size: 16px;
      line-height: 1.1;
      border-radius: 3px;
      transition: all .2s ease-in-out;
      &:hover {
        filter: brightness(120%);
      }
    }
  }
}
@media screen and (max-width: 768px){
.card {
  width: 100%;
  max-width: 100%;
  min-width: 290px;
}
}
</style>