<template>
  <div id="app">
    <app-header></app-header>
    <loader v-if="isLoading"></loader>
    <router-view />
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppHeader from "@/components/header";
import AppFooter from "@/components/footer";
import loader from "@/components/loader";
import { mapState } from 'vuex';

export default {

  components: {
    AppHeader,
    AppFooter,
    loader
  },
  computed: {
    ...mapState('common', ['isLoading'])
  }
}
</script>

<style>
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #00a29d 0, #557ae8);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-image: linear-gradient(to top, #00a29d 0, #557ae8);
  opacity: 0.5;
}
</style>